/* @import url("./assets/fonts/index.css"); */

:root {
  font-family: "Verdana", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  /* font-family: Verdana, sans-serif; */
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: #eeeeee;
}

.react-tabs__tab--selected {
  font-weight: bold;
  background-color: #eeeeee !important;
  color: #555;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
